
html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.routeInput {
  position: absolute;
  z-index: 9999;
  bottom: -40px;
  right: 0px;
  width: 400px;
  height: 300px;
  background-color: rgba(50, 50, 50, 0.9);
  padding: 20px;
}

.routeInput:hover {
  background-color: rgba(84, 84, 84, 0.9);
}

#pastSearchesContainer{
  position: absolute;
  z-index: 9999;
  bottom: 400px;
  right: 0px;
  width: 350px;
  height: 250px;
  background-color: rgba(106, 68, 68, 0.9);
  padding: 20px;
}
