
html, body, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#source_address, #destination_address, #freight_type, #deadline {
  width: 14vw;
  height: 3vh;
  margin: 0.5vh;
  margin-left: 1vw;
  border: 0px;
  box-shadow: 1px 1px 1px #6e6e6e4d;
  font-size: 12px;
  /* display: inline-block; */
}

#source_address, #freight_type {
  margin-top: 2vh;
}

#submit {
  position: absolute;
  bottom: 2vh;
  right: calc(10px + 2vmin);
  border: 0px;
  width: 8vw;
  height: 3vh;
  box-shadow: 1px 1px 1px #6e6e6e4d;
}

#submit:hover {
  background-color: rgba(176, 176, 176);
}

#get_all_routes {
  position: relative;
  bottom: 2px;
  left:auto;
  right:auto;
  border: 0px;
  width: 8vw;
  height: 3vh;
  box-shadow: 1px 1px 1px #6e6e6e4d;
}

#get_all_routes:hover {
  background-color: rgba(176, 176, 176);
}

.routeInput {
  position: absolute;
  z-index: 9998;
  bottom: 25px;
  right: 10px;
  width: 19vw;
  height: calc(40vh - 10vmin);
  background-color: #f8f8f8;
  padding: 2vmin;
  margin: 4px;
  /* font-family: 'Trebuchet MS', sans-serif; */
  /* color:#d4d5d6; */
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #6e6e6e4d;
  color: #323232;
  /* margin: 0 0 0.5rem; */
  font-weight: 600;
  font-family: Avenir Next,Helvetica Neue,helvetica,arial,sans-serif;
  line-height: 1.3em;
  box-shadow: 1px 1px 1px #6e6e6e4d;
}
/* 
.routeInput:hover {
  background-color: rgba(84, 84, 84, 0.9);
} */

#pastSearchesContainer{
  position: absolute;
  z-index: 9999;
  top: 10px;
  right: 10px;
  width: 19vw;
  height: calc(60vh - 5vmin);
  background-color: #f8f8f8;
  padding: 2vmin;
  /* padding-top: 1vh;
  padding-bottom: 1vh; */
  margin: 4px;
  /* font-family: 'Trebuchet MS', sans-serif; */
  /* color:#d4d5d6; */
  font-size: 14px;
  /* font-weight: bold; */
  overflow: auto;
  border-bottom: 1px solid #6e6e6e4d;
  color: #323232;
  /* margin: 0 0 0.5rem; */
  font-weight: 600;
  font-family: Avenir Next,Helvetica Neue,helvetica,arial,sans-serif;
  line-height: 1.3em;
  box-shadow: 1px 1px 1px #6e6e6e4d;
}

/* #pastSearchesContainer:hover {
  background-color: rgba(84, 84, 84, 0.9);
} */

.pac-container {
  z-index: 10000;
}

#pastSearchesList {
  list-style-type: none;
  padding: 0;
}

#pastSearchesList li {
  margin-bottom: 5px;
}

#page_name {
  font-family: 'Trebuchet MS', sans-serif;
  color:#84a5db;
  font-size: 6vmin;
  position: absolute;
  left: 60px;
  top: 10px;
  z-index: 200;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
}

.trips {
  width: 18vw;
  font-size: 12px;
  font-weight: normal;
  /* background: white; */
  /* background-color: rgba(163, 163, 163, 0.9); */
  background-color: #f8f8f8;
  padding: 1vmin;
  /* border-bottom: 1px solid #6e6e6e4d; */
  /* border: 1px solid #6e6e6e4d; */
  box-shadow: 1px 1px 1px #6e6e6e4d;
}

.trips:hover {
  background-color: rgba(176, 176, 176);
  /* height: 3.5vw; */
}

#popup {
  z-index: 9999;
  background-color: black;
  width: 100px;
  height: 100px;
}

#dest {
  height: auto; 
  max-width: 8%;
  margin-left: 10px;
}

#source {
  height: auto; 
  max-width: 8%;
  margin-left: 10px;
  margin-top: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
}