<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ArcGIS Maps SDK for JavaScript Tutorials: Find a route and directions</title>
  <style>
    html, body, #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="https://js.arcgis.com/4.28/esri/themes/light/main.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvM0RWQaayF8fSgrMZj7_dwIETbHQh2dc&libraries=places"></script>
  <script src="https://js.arcgis.com/4.28/"></script>
  </head>
  <body>
    <div class="routeInput">Enter Transport Information
      <form id="routeForm">
        <input type="text" id="source_address" name="source_address" placeholder="Enter source address" required><br>
        <input type="text" id="destination_address" name="destination_address" placeholder="Enter destination address" required><br>
        <input type="text" id="freight_type" name="freight_type" placeholder="Enter freight type" required><br >
        <input type="date" id="deadline" name="deadline" placeholder="Enter delivery deadline" min="2024-01-01" max="2028-01-01" required><br>
        <input type="submit" id="submit" value="Submit Route">
      </form>

    </div>

    <div id="page_name">FreightForce.</div>

    <div id="pastSearchesContainer">Current Routes
        <ul id="pastSearchesList"></ul>
    </div>
    <div id="popup" style="display: none;"></div>

    <div id="viewDiv"></div>

    <script>
      require([
        // "dojo/dom",
        // "dojo/domReady!",
        "esri/config",
        "esri/Map",
        "esri/views/MapView",
  
        "esri/Graphic",
        "esri/layers/GraphicsLayer",
        "esri/rest/route",
        "esri/rest/support/RouteParameters",
        "esri/rest/support/FeatureSet",
        "esri/rest/locator",
        "esri/layers/FeatureLayer",
        "esri/widgets/Legend"
        // "esri/layers/OpenWeatherMapLayer"
        // "esri/layers/ArcGISDynamicMapServiceLayer",
        // "esri/urlUtils",
        // "dojo/dom", 
        // "dojo/on", 
        // "dojo/_base/array", 
        // "dojo/domReady!"

  
      ], function(esriConfig, Map, MapView, 
                  Graphic, GraphicsLayer, route, 
                  RouteParameters, FeatureSet, locator,FeatureLayer,Legend) {

      // urlUtils.addProxyRule({
      //   urlPrefix: "traffic.arcgis.com", 
      //   proxyUrl: "http://webserver/proxy/proxy.ashx"
      // });
  
      esriConfig.apiKey = "AAPK7d9198b324c34382b89c6e1485af7a6feZL-WzCqfZjOlsuoTNJ7kCBMlRAaoAnOCgA0I33as1UJjUfgPNOkmdKCmIvwxNrg";
  
      const map = new Map({
        basemap: "arcgis/navigation" // basemap styles service
      });

      // var dynamicLayer = new ArcGISDynamicMapServiceLayer("http://traffic.arcgis.com/arcgis/rest/services/World/Traffic/MapServer");
      // map.addLayer(dynamicLayer);
  
      const view = new MapView({
        container: "viewDiv",
        map: map,
        center: [-81,41], //Longitude, latitude
        zoom: 5
      });

      var featureLayerUrl = "https://services9.arcgis.com/RHVPKKiFTONKtxq3/arcgis/rest/services/NWS_Watches_Warnings_v1/FeatureServer/9";

      var featureLayerUrl2 = "https://services9.arcgis.com/RHVPKKiFTONKtxq3/arcgis/rest/services/NWS_Watches_Warnings_v1/FeatureServer/8";
      
      //const popupOpenspaces = {
      //  "title": "Severe Weather",
      //}

      //const popupOpenspaces2 = {
      //  "title": "Extreme Weather",
      // }

      // Create the feature layer
      var featureLayer = new FeatureLayer({
        url: featureLayerUrl,
        //popupTemplate: popupOpenspaces
      });

      var featureLayer2 = new FeatureLayer({
        url: featureLayerUrl,
        //popupTemplate: popupOpenspaces2
      });

      // Set the opacity of the feature layer (adjust as needed)
      featureLayer.opacity = 0.5; 

      // Add the feature layer to the map
      map.add(featureLayer,9);

      // Add the feature layer to the map
      map.add(featureLayer2,8);

      var legend = new Legend({
        view: view
      });

      // Add the legend widget to the bottom-right corner of the view
      view.ui.add(legend, "bottom-left");

      // var weatherLayer = new OpenWeatherMapLayer({apikey: "990beb6f0e3652c6b8343e37583774fc"});
      // map.add(weatherLayer);

      const graphicsLayer = new GraphicsLayer();
      map.add(graphicsLayer);

      const polygon = {
        type: "polygon",
        rings: [
          [-80, 40], //Longitude, latitude
          [-80, 42], //Longitude, latitude
          [-82, 42],   //Longitude, latitude
          [-82, 40], //Longitude, latitude
        ]
      };

      const simpleFillSymbol = {
          type: "simple-fill",
          color: [227, 139, 79, 0.8],  // Orange, opacity 80%
          outline: {
            color: [255, 255, 255],
            width: 1
          }
      };

      const polygonGraphic = new Graphic({
          geometry: polygon,
          symbol: simpleFillSymbol,
          attributes: {"BarrierType": 0}
      });
  
      graphicsLayer.add(polygonGraphic);

      const routeUrl = "https://route-api.arcgis.com/arcgis/rest/services/World/Route/NAServer/Route_World";
      const geocodingServiceUrl = "https://geocode-api.arcgis.com/arcgis/rest/services/World/GeocodeServer";
  

      let coords = [];

      displayPastResults();

      function sanitize(string) {
        const map = {
            '&': '&amp;',
            '<': '&lt;',
            '>': '&gt;',
            '"': '&quot;',
            "'": '&#x27;',
            "/": '&#x2F;',
        };
        const reg = /[&<>"'/]/ig;
        return string.replace(reg, (match)=>(map[match]));
      }

      function saveFormData(source, dest, freight, deadline, coord1, coord2, coordIdx) {
        let formData = JSON.parse(localStorage.getItem('formData')) || [];
        formData.push({ source: source, dest: dest, freight: freight, deadline: deadline, coord1: coord1, coord2: coord2, coordIdx: coordIdx});
        localStorage.setItem('formData', JSON.stringify(formData));
      }

    function displayPastResults() {
      console.log("--------------DISPLAY RESULTS--------------")
      let pastResults = JSON.parse(localStorage.getItem('formData')) || [];
      let pastResultsList = document.getElementById('pastSearchesList');

      pastResultsList.innerHTML = '';
      pastResults.forEach(result => {
        let li = document.createElement('li');
        li.className = "trips";
        li.dataset.coord1 = result.coord1;
        li.dataset.coord2 = result.coord2;
        li.dataset.freight = result.freight;

        // Create separate elements for each field and append them to the li element
        appendField(li, 'Source', result.source);
        appendField(li, 'Destination', result.dest);
        appendField(li, 'Deadline', result.deadline);

        // Add click event to trigger getRoute function
        li.addEventListener('click', function() {
          coordinates = coords[parseInt(JSON.parse(result.coordIdx))]
          console.log("coordinates")
          view.graphics.removeAll();

          const graphicSource = new Graphic({geometry: result.coord1});
          view.graphics.add(graphicSource);

          const graphicDest = new Graphic({geometry: result.coord2});
          view.graphics.add(graphicDest);

          getRoute();
        });

        pastResultsList.appendChild(li);
      });

      function appendField(parentElement, title, value) {
        let titleElement = document.createElement('strong');
        titleElement.textContent = `${title}: `;
        
        let valueElement = document.createElement('span');
        valueElement.textContent = value;

        let lineBreak = document.createElement('br');

        parentElement.appendChild(titleElement);
        parentElement.appendChild(valueElement);
        parentElement.appendChild(lineBreak);
      }
    }
  
      document.getElementById('routeForm').addEventListener('submit', function(event) {
        event.preventDefault();
  
        view.graphics.removeAll();
        
        var source_address = sanitize(document.getElementById('source_address').value);
        var destination_address = sanitize(document.getElementById('destination_address').value);
        var freight = sanitize(document.getElementById('freight_type').value);
        var deadline = sanitize(document.getElementById('deadline').value);

        const source_params = {address: {"address": source_address}}
        const dest_params = {address: {"address": destination_address}}
  
        // prevQueries.push([source_address, destination_address]);
        // updatePastSearches(prevQueries);
  
        Promise.all([
          locator.addressToLocations(geocodingServiceUrl, source_params),
          locator.addressToLocations(geocodingServiceUrl, dest_params),
        ])
          .then((resultsArray) => {
            const graphicSource = new Graphic({geometry: resultsArray[0][0].location});
            view.graphics.add(graphicSource);
  
            const graphicDest = new Graphic({geometry: resultsArray[1][0].location});
            view.graphics.add(graphicDest);

            let coordIdx = coords.length;
            saveFormData(source_address, destination_address, freight, deadline,
              resultsArray[0][0].location,
              resultsArray[1][0].location,
              coordIdx);
            coords.push([resultsArray[0][0].location, resultsArray[1][0].location])
            console.log(coords)
            displayPastResults();
  
            getRoute();
          })
      });
  
      function getRoute() {
        const routeParams = new RouteParameters({
          stops: new FeatureSet({
            features: view.graphics.toArray()
          }),
          polygon_barriers: {
            spatialReference: {
              wkid: 4326,
            },
            features: [polygonGraphic]
          }
        });

        route.solve(routeUrl, routeParams)
          .then(function(data) {
            data.routeResults.forEach(function(result) {
              result.route.symbol = {
                type: "simple-line",
                color: [5, 150, 255],
                width: 3
              };
              view.graphics.add(result.route);
            });
          })
        }
      });
  
      // Autocomplete for source address
      var sourceAutocomplete = new google.maps.places.Autocomplete(document.getElementById('source_address'));
      sourceAutocomplete.addListener('place_changed', function() {});
  
      // Autocomplete for destination address
      var destinationAutocomplete = new google.maps.places.Autocomplete(document.getElementById('destination_address'));
      destinationAutocomplete.addListener('place_changed', function() {});
  
    </script>
  </body>
</html>
